<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Concentus</title>

    {% include meta.html %}

    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href="{{ site.baseurl }}/static/libs/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/projects/concentus/style.css">

    {% include analytics.html %}
</head>

<body>
<div id="menu">
    <a id="btStartAudioVisualization" class="btn btn--start">
        <i class="fa fa-play" aria-hidden="true"></i> Start Audio
    </a>
    <input id="btLoadAudio" type="file" accept="audio/*"/>
    <label id="labelLoadAudio" for="btLoadAudio" class="btn btn--load">
        <i class="fa fa-upload" aria-hidden="true"></i> Load Audio
    </label>
</div>
<p id="txtStatus"></p>

<script>
    let url = "{{ site.baseurl }}/static/audio/audio.ogg";
</script>
<script src="{{ site.baseurl }}/static/projects/concentus/script.js"></script>
</body>
</html>
