<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Whirlpool</title>

    {% include meta.html %}

    <link rel="icon" href="{{ site.base_url }}/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.base_url }}/static/projects/whirlpool/style.css">

    {% include analytics.html %}
</head>

<body>
  <script src="{{ site.base_url }}/static/libs/js/p5.min.js"></script>
  <script src="{{ site.base_url }}/static/libs/js/lodash.min.js"></script>
  <script src="{{ site.base_url }}/static/projects/whirlpool/script.js"></script>
</body>

</html>
