<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Fractal Spirals Symphony</title>

    {% include meta.html %}

    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/projects/spirals/style.css">

    {% include analytics.html %}
</head>

<body>
<canvas id="canvas"></canvas>
<label for="fractals"></label>
<input id="fractals" value="0"/>

<script src='https://unpkg.com/glea@latest'></script>
<script src="{{ site.baseurl }}/static/libs/js/gsap.min.js"></script>
<script src="{{ site.baseurl }}/static/libs/js/ScrollTrigger.min.js"></script>
<script  src="{{ site.baseurl }}/static/projects/spirals/script.js"></script>
</body>
</html>
