body,
html {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 11px;
  width: 100%;
  height: 100%;
  background: #6b92b9;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #b4cfe0 0%,
    #6b92b9 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, #b4cfe0),
    color-stop(100%, #6b92b9)
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #b4cfe0 0%,
    #6b92b9 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #b4cfe0 0%,
    #6b92b9 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #b4cfe0 0%,
    #6b92b9 100%
  );
  background: radial-gradient(center, ellipse cover, #b4cfe0 0%, #6b92b9 100%);
}

@-webkit-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-moz-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-ms-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

body {
  -webkit-perspective: 5000px;
  -moz-perspective: 5000px;
  -ms-perspective: 5000px;
  -o-perspective: 5000px;
  perspective: 5000px;
  -webkit-perspective-origin: 0 20%;
  -moz-perspective-origin: 0 20%;
  -ms-perspective-origin: 0 20%;
  -o-perspective-origin: 0 20%;
  perspective-origin: 0 20%;
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

.christmas {
  position: relative;
  overflow: hidden;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.2s;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE0AAAAXCAYAAABOHMIhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABiZJREFUeNrsWMtPlFcUvzPMwIDysLyRR4uATDHWCiVgSmRlios2DeiiXUFs0nRBd6arxqQhJDapkYXhP4BqDKTQhZaFNQSCaBEVJjwdHsNr5DUMDDPDzPT3u7nTDEgRKrKgc5KT+z3uufec33de99P4fD4RpL2RNgjB3kn35MkTeRERESFiYmLkGBoaKnQ6nWSNRvPPZFxr+vv7k6KioiIdDsfa8vLyQkFBgcP3Bnel3MDAQArWI0eFhISE87nb7bZ7PJ4VvLYuLi5O5+fnu9+kMNfq6+tLjIyMzMY6KeBEbK/XarXReI3lPDZMWcc4v7GxYV1dXR3Jy8ub2E5HPvJ6vRSSDH0ku1wuAfsEZOV1IEFHoeNFdHS0yMrK2knR0Lm5uR+hxLdQMjbwHTZbB41h8RGwCdc9MzMzneHh4bGJiYlf4SN8ijkfwqiIncCAAR7Iz2GPSShudjqdfeCeqampvwBQfFxc3JdYqwTv8gB8/F48A8BgKecE14V+L7ju2tpae05OzkuCCZvkPOj8mizmC6vVKtmPu+bx48cC3qI1mUyFUOyywWD4SHlELBaLJmCHNcwAghuAOujtuF4FqHO4nsX4EsAS3I4TJ04ME1h8PDE9PS09TYZoY2Pj1729vd6lpSVfkDYTPG0UkfNDRUWFgQ5Gb2Mh0N29e9eG/GQfHh4W8/PzwUy/ObQ/gMfVVlZW1iAiZdQxp3nv3LljRoL/5erVq1UIxzSiiVD9X4EDYATynCwAzGO858hCQRoaGmJFZNJz8YIcBc4BF966dau6sLAwBxVSJCUlCSThQwuU3W6XkYUok1Vzm5znQx5bbm9v77p+/frPeNSNRzZ/ISBwrG4ZR48eLamtrf2+uLjYSEG9Xi/wTISFhQlWGXohyzO/CJlVl23KQRLbABoaHx+/Z1lUZ/Hq1SsJFj3JT3hmHx8fnydPTEzMj46OziHPW2w22wxeD4Kfgadh/4YEzU8Az4DhffAn5eXlX1y6dKkEoCTspAQ9Mjs7+0BBo8Fms1lkZGTsOo0QLLRNkvnR+fEJzIMHD0xtbW39CL8JTFtSbAOvBIyLHIGVm9VzE2gKuDAMSSpcT6KXyT137lx2cnLyMXhcGDb3wq3XuWF3d/fCzZs3P0c4v5eSknJQbYLo7Ox0gC2lpaVZ3Be67Th/dnZWoAJKsJC3XA8fPhxoamp6hMb+BaaMgWcUMGtszZjiFDNmvcDI91pzG0iY4ARwkwrxkcHBwUdgNrRMbnrqoRbkVzDcvn3bl5qaWsmcgFH4G8XdEGUWFhak51AuISFBnkoCTyFbyWKxCJwIxlC0fq2rq7tcVFRkRKskjh8/Lr0+kBjCCDV/knfdv3//WX19/R8IRRNemxlu4AXwKqM+EJwdj1HbPYSwh3sCPAJDABm2LLchCjS+5/kirKGhwWk0GrMuXrxYQuX9hm/XXTMXMY+srKwI5ApZrbYmZh7deEJhAUKjLe/pLTzSsCuHrK+1tbUJVe3P6upq87Vr174rKysrYHVj/uW+OH3IfEuw4F3ee/fuPQfAvwOs5yyE4CnlFOu7BWrTCWlreO6FACpBZGwUw4BvkANLobReHb3kGZYGsGzTq/zlO8AT1ru6uoZbWlqeA6gINJAfnz59OlVLoX8Jtebm5raampqfcMvQYgTknz9//sKVK1c+y83NTdIEuCnaKMuNGzd+6+np6cCtSTkAw9D9X8Dyh+dbgaaAC1XAnUlPTy+qqqq6cPbs2UzkmWjNljiDJzpwHFnCkW2yo6NjCKW8H54wjlezKvRT09LSTsJrz5w6dSoN+Yp51ADAPUj8VoDbDq9pxrwuJcNIYQllJTIi/xopBw/VA7DJp0+f9hA78CgL5F5C8J2CpoCj8sfA6WCe/FPRhsRlZmbGIs8Y4FFO5CJgtrSsvrRVGW1V93b1myoGnKAKEcHgnwsWpg1lNI0fphwrmdqbckeU18WrnlOjqp5/j7W3BWvfQVPKa5SBkcrYCNVB65TRTlWZ1lXiXVU5xbtlDb2SPaLWYwrgHIcqPg6Vc7fbX69Yoyqfa7/AeiegbWOEVhmsVcWDwPn224iDJgla8Hd38Hd3ELQgaIeI/hZgAIPEp0vmQJdoAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 50% -5px;
  background-size: 64px;
  opacity: 1;
}

.christmas:hover {
  cursor: pointer;
}

audio {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotateY(0deg);
  }

  100% {
    -moz-transform: rotateY(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotateY(0deg);
  }

  100% {
    -ms-transform: rotateY(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotateY(0deg);
  }

  100% {
    -o-transform: rotateY(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

#tree {
  margin: 0 auto;
  position: relative;
  -webkit-animation: spin 20s infinite linear;
  -moz-animation: spin 20s infinite linear;
  -ms-animation: spin 20s infinite linear;
  -o-animation: spin 20s infinite linear;
  animation: spin 20s infinite linear;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#tree * {
  position: absolute;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

#branch {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#text {
  padding-top: 6px;
  font-weight: bold;
}

.star {
  border-color: #f1c40f transparent transparent transparent;
  border-radius: 25%;
  border-style: solid;
  border-top-width: 35.21127px;
  border-right-width: 50px;
  border-left-width: 50px;
  height: 0;
  margin-top: 35.21127px;
  margin-bottom: 22.63581px;
  position: relative;
  width: 0;
}

.star:before,
.star:after {
  border-color: #f1c40f transparent transparent transparent;
  border-style: solid;
  border-top-width: 35.21127px;
  border-right-width: 50px;
  border-left-width: 50px;
  border-radius: 25%;
  content: "";
  display: block;
  height: 0;
  left: -50px;
  position: absolute;
  top: -35.21127px;
  width: 0;
}

.star:before {
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
}

.star:after {
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}

.star {
  left: 200px;
  top: 10px;
}

p {
  font-family: "Grinched", serif;
  font-size: 1.2rem;
  color: rgba(245, 245, 245, 0.5);
}
