/* ==== GENERAL SETTINGS ==== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --body-font: "RocknRoll One", "Merriweather", sans-serif;

  --theme-color: #f9fafb;
  --theme-bg-color: rgba(16 18 27 / 40%);
  --scrollbar-bg: rgb(255 253 253 / 27%);
  --content-bg: rgb(146 151 179 / 13%);
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --main-bg: #21242d;
  --border-color: rgba(113 119 144 / 25%);
  --inactive-color: rgb(113 119 144 / 78%);
  --content-title-color: #999ba5;
  --footer-color: #f9fafb;
  --app-color: #4a90e2;
  --projects-btn-color: #4caf50;
}

.light-mode {
  --theme-color: #3c3a3a;
  --theme-bg-color: rgb(255 255 255 / 31%);
  --scrollbar-bg: rgb(1 2 3 / 20%);
  --overlay-bg: rgb(255 255 255 / 30%);
  --main-bg: #f7f7f7;
  --border-color: rgb(255 255 255 / 35%);
  --inactive-color: #333333;
  --content-title-color: #3c3a3a;
  --footer-color: #f7f7f7;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--body-font);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  height: 100vh;
  background: #614385;
  background: radial-gradient(at center, #614385, #516395);
}
@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
  }
}
img {
  max-width: 100%;
}
.dark-light {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: var(--main-bg);
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .dark-light {
    bottom: 10px;
    right: 15px;
  }
}
.dark-light svg {
  width: 24px;
  flex-shrink: 0;
  fill: #ffce45;
  stroke: #ffce45;
  transition: 0.5s;
}
.app {
  background-color: var(--theme-bg-color);
  max-width: 1250px;
  max-height: 860px;
  height: 90vh;
  display: none;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 600;
}
.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px;
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  .header {
    padding: 0 16px;
  }
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu a {
  padding: 20px 25px;
  text-decoration: none;
  color: var(--inactive-color);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
@media screen and (max-width: 610px) {
  .header-menu a:not(.main-header-link) {
    display: none;
  }
}
.header-menu a:hover {
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
}
.menu-circle {
  width: 15px;
  height: 15px;
  background-color: #f96057;
  border-radius: 50%;
  box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
  margin-right: 195px;
  flex-shrink: 0;
}
@media screen and (max-width: 945px) {
  .menu-circle {
    display: none;
  }
}
.header-profile {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-shrink: 0;
  color: var(--theme-color);
}
.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 2px solid var(--theme-color);
  margin-left: 12px;
}
.logo-img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 14px;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
.main-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: 58px;
  flex-shrink: 0;
}
.main-header .header-menu {
  margin-left: 150px;
}
@media screen and (max-width: 1055px) {
  .main-header .header-menu {
    margin: auto;
  }
}
.main-header .header-menu a {
  padding: 20px 24px;
}
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.menu-link-main {
  text-decoration: none;
  color: var(--theme-color);
  padding: 0 30px;
}
@media screen and (max-width: 1055px) {
  .menu-link-main {
    display: none;
  }
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--theme-color);
  padding: 20px 40px;
  height: 100%;
  overflow: auto;
  background-color: var(--theme-bg-color);
}
@media screen and (max-width: 510px) {
  .content-wrapper {
    padding: 20px;
  }
}
.content-section-title {
  color: var(--content-title-color);
  margin-bottom: 14px;
  margin-top: 14px;
}
.content-section-main-title {
  color: var(--theme-color);
  text-align: center;
  font-size: 18px;
}
.content-section-footer-title {
  color: var(--footer-color);
  display: none;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}
.spinner {
  --size: 120px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  perspective: 800px;
}
.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
}
.inner.one {
  left: 0;
  top: 0;
  animation: rotate-one 1s linear infinite;
  border-bottom: 5px solid #f7f48b;
}
.inner.two {
  right: 0;
  top: 0;
  animation: rotate-two 1s linear infinite;
  border-right: 5px solid #f47c7c;
}
.inner.three {
  right: 0;
  bottom: 0;
  animation: rotate-three 1s linear infinite;
  border-top: 5px solid #a1de93;
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(50deg) rotateY(55deg) rotateZ(0);
  }
  100% {
    transform: rotateX(50deg) rotateY(55deg) rotateZ(360deg);
  }
}
#sentimento {
  display: none;
}
#github {
  cursor: pointer;
  margin-left: 0;
  margin-right: 5px;
}
