<!DOCTYPE html>
<html lang="en" >
<head>
   <title>{{ page.title }}</title>

   {% include meta.html %}

   <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

   <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>

    {% if page.extra_css_libs %}
        {% for css_lib in page.extra_css_libs %}
    <link rel='stylesheet' href="{{ site.baseurl }}/static/libs/css/{{ css_lib }}.min.css">
        {% endfor %}
    {% endif %}

    {% if page.title != "JackShen World Intro" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/static/base.css">
    {% endif %}

    {% if page.extra_css %}
        {% for css_file in page.extra_css %}
    <link rel='stylesheet' href="{{ site.baseurl }}/static/{{ page.path_name }}/css/{{ css_file }}.css">
        {% endfor %}
    {% endif %}

   {% include analytics.html %}
</head>

<body>
<div class="spinner">
   <div class="inner one"></div>
   <div class="inner two"></div>
   <div class="inner three"></div>
</div>

{{ content }}

{% if page.extra_js_libs %}
    {% for js_lib in page.extra_js_libs %}
<script type="text/javascript" src="{{ site.baseurl }}/static/libs/js/{{ js_lib }}.min.js"></script>
    {% endfor %}
{% endif %}

{% if page.extra_js %}
    {% for js_file in page.extra_js %}
<script type="text/javascript" src="{{ site.baseurl }}/static/{{ page.path_name }}/js/{{ js_file }}.js"></script>
    {% endfor %}
{% endif %}

</body>
</html>